
#poppup-img{
    width: 100px;
    height: 100px;
    object-fit: cover;
}

#ja{
    margin-top: 80px;
}

.popup,
.popup-one,
.popupTwo{
    background: rgba(8, 8, 8, 0.568);
    width: 400px;
    margin: auto;
    border-radius: 20px;
    padding: 20px 30px;
}

#popup-whepper-one,
#popup-wheppert,
#popup-whepper{
    position: absolute;
    display: none;
    top: 0%;
    left: -150%;
    transition: 6s;
    -webkit-transition: 6s;
    -moz-transition: 6s;
    -ms-transition: 6s;
    -o-transition: 6s;
}
#popup-whepper.active {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
    background: rgba(0, 0, 0, 0.418);
    z-index: 6;
    display: block;
    transition: 5s;
}
#popup-whepper-one.active {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
    background: rgba(0, 0, 0, 0.418);
    z-index: 6;
    display: block;
    transition: 5s;
}
#popup-wheppert.active {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
    background: rgba(0, 0, 0, 0.418);
    z-index: 6;
    display: block;
    transition: 5s;
    -webkit-transition: 5s;
    -moz-transition: 5s;
    -ms-transition: 5s;
    -o-transition: 5s;
}
.content-whapper{
    margin-top: 25%;
}
#show-popup,
#show-popup-one,
#show-popupt{
    /*display: none;
    */
    position: absolute;
    top: -30%;
    left: 35%;
    opacity: 0;
    transition:.5s ;
    -webkit-transition:.5s ;
    -moz-transition:.5s ;
    -ms-transition:.5s ;
    -o-transition:.5s ;
}

#show-popup,
#show-popup-one,
#show-popupt.active{
    opacity: 1;
    position: absolute;
    top: 10%;

}

